<!DOCTYPE html>
<html>
<style>
h1 {
  color: black;
  font-size: 500%;
  text-align: right;
  margin-right: 100px;
}
h2{
  color: black;
  font-size: 300%;
  font-style: oblique;
  text-align: left;
  margin-left: 100px;
  padding-top: 50px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: -10px;
}
h3 {
  color: black;
  font-size: 300%;
  font-style: oblique;
  text-align: right;
  margin-right: 100px;
  border-top-style: solid;
  border-top-width: thin;
}
a {
  color: violet;
  font-size: 20px;
}
a:visited {
  color: blue;
}
a:hover, a:focus{
  color: red;
}
p{
  margin: 5px;
  padding: 5px;
  border: 5px solid black;
  border-top: 10px solid black;
  height: auto;
  width: auto;
  display: inline;
}

</html>
</style>
