<style>
h1 {
  color: yellow;
  background-color: black;
  font-size: 25px;
}
h2 {
  color: white;
  background-color: black;
  font-size: 15px;
}
a {
  color: violet;
}
p{
  margin: 15px;
  padding: 5px;
  border: 10px solid black;
  border-top: 30px solid black;
  display: black;
}
